/* .MuiInputLabel-filled {
    z-index: 1;
    transform: none !important ;
}

.MuiInputLabel-filled:before {
    z-index: 1;
   transform: translate(0px, 20px) scale(1) !important;
}

.MuiInputLabel-filled:after {
    z-index: 1;
    transform: translate(0px, 0px) scale(1) !important;
} */